.sidebar {
  width: 270px;
  background-color: #2b2f36;
  height: 100%;
  position: absolute;
  color: #fff;
}

.sidebar-title {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}

.sidebar button {
  width: 240px;
  margin: 0 auto;
  display: block;
  color: #fff;
  background-color: #35d7bb;
}

.sidebar button:hover {
  color: #fff;
}

.sidebar-list-name {
  background-color: #373d49;
  padding: 20px 40px;
  cursor: pointer;
  color: #a0aabf;
}

.sidebar-list-name .dropdown-toggle {
  float: right;
}

.sidebar-list {
  color: #35d7bb;
  margin-bottom: 10px;
}

.sidebar-list li {
  padding: 10px 40px;
  cursor: pointer;
  color: #fff;
}

.sidebar-list li.active span:first-child,
.sidebar-list li:hover span:first-child,
.sidebar-list-name:hover {
  color: #35d7bb;
}

.sidebar-list li span:last-child {
  float: right;
  display: none;
}

.sidebar-list li:hover span:last-child {
  display: inline-block;
}

.sidebar-list ul {
  padding: 0;
  margin: 0;
}

.sidebar-list ul,
.sidebar-list li {
  list-style: none;
}
